.profile {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-wrap: wrap;
  align-items: flex-start;

  &.has-click-event {
    .title {
      cursor: pointer;
    }
  }

  [class*="avatar"] {
    flex-shrink: 0;
  }

  > .writer-avatar {
    :global {
      width: 32px !important;
      height: 32px !important;

      @include breakpoint-768 {
        width: 44px !important;
        height: 44px !important;
      }
    }
  }

  .title {
    display: flex;
    min-height: 24px;
    align-items: center;
    color: var(--semantic-label-normal);

    @include add-body-text-16-b;

    svg {
      margin-left: 4px;
    }
  }

  &-text {
    display: flex;
    min-width: 0;
    flex-direction: column;
    padding-right: $sp-20;
    margin-top: -3px;
    margin-left: $sp-6;
  }

  .info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    @include breakpoint-768 {
      flex-direction: unset;
      align-items: center;
    }

    > span {
      position: relative;

      &:not(:first-child) {
        &::before {
          display: inline-flex;
          width: 2px;
          height: 2px;
          align-items: center;
          border-radius: $rd-circle;
          margin: 0 $sp-6;
          margin-top: -2px;
          background: $color-global-coolNeutral-50;
          content: "";
          vertical-align: middle;
        }
      }
    }

    .category {
      color: var(--semantic-label-neutral);

      @include label-01-normal-r;
    }
  }

  .date {
    margin-top: -1px;
    color: var(--semantic-label-alternative);

    @include add-body-text-13-m;
  }

  .from-info {
    display: flex;
    width: 100%;
    min-width: 0;
    height: 32px;
    align-items: center;
    padding: $sp-4 $sp-8;
    border-radius: $rd-4;
    margin-top: $sp-12;
    margin-bottom: $sp-6;
    background: var(--semantic-fill-normal);

    &.has-click-event {
      > * {
        cursor: pointer;
      }
    }

    .channel {
      display: flex;
      width: 100%;
      min-width: 0;
      align-items: center;
      padding-left: 3px;
      gap: 0 $sp-4;

      &-name {
        @include add-body-text-12-m;

        display: block;
        color: var(--semantic-label-normal);

        @include ellipsis(1);
      }
    }
  }
}
