.feed-box {
  position: relative;
  border-radius: $sp-12;
  border-bottom: 0.7px solid rgb(0 0 0 / 10%);
  background: #fff;
  box-shadow: 0 5.6px 19.601px 0 rgb(0 0 0 / 6%);
  cursor: default;

  &.has-click-event {
    cursor: pointer;
  }

  .feed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $sp-16 $sp-14 $sp-8 $sp-14;

    .profile {
      // style
    }

    .btn-manage {
      :global {
        .btn-popover {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .feed-body {
    margin-top: $sp-8;

    .text-content {
      padding: 0 $sp-20 0 52px;
      margin: 0;
    }

    .carousel {
      overflow: hidden;
      width: 100%;
      margin-top: $sp-12;

      :global {
        .carousel-swiper {
          > .swiper {
            overflow: hidden;
            padding: 0 $sp-20;
          }
        }

        .swiper-slide {
          &:last-of-type {
            margin-right: 0 !important;
          }

          .slide-item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 0;

            /* 캐러셀 이미지 비율은 16:9 고정, 이미지는 contain */
            padding-bottom: 56.25%;
            border-radius: $rd-12;
            background-color: var(--semantic-fill-strong);
          }

          img {
            min-height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .feed-footer {
    padding: $sp-4 $sp-20 $sp-16 $sp-20;
    margin-top: $sp-32;

    &-container {
      display: flex;
      flex-direction: column;
    }

    button {
      display: flex;
      align-items: center;
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;

      @include label-01-normal-m;

      text-align: center;

      .count {
        padding-left: $sp-4;
      }
    }

    .feed-reactions {
      // style
    }

    .feed-comments {
      width: 100%;
      justify-content: space-between;
      padding-top: $sp-10;
      border-top: 1px solid var(--semantic-line-normal-alternative);
      margin-top: $sp-10;
    }
  }

  // /* Skeleton */
  // .skeleton {
  //   width: 100%;
  //   width: 308px;
  //   height: 0;
  //   padding-bottom: 56.527%;
  //   border-radius: $rd-12;
  //   animation: skeleton-blank infinite alternate 3s;
  //   background-color: #d2d2d9;
  // }
}
