.og-meta-data-preview {
  padding: 0 $sp-20;
  margin-bottom: $sp-6;

  @include breakpoint-768 {
    padding: 0;
  }

  &.has-click-event {
    cursor: pointer;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        .preview-data {
          * {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .og-meta-data-content {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--semantic-line-normal-neutral);
    border-radius: $rd-12;
    background: var(--semantic-background-normal-alternative);
    color: var(--semantic-label-alternative);

    @include label-01-normal-r;

    .preview-box {
      @include breakpoint-768 {
        display: flex;
        align-items: flex-start;
      }
    }

    .preview-img {
      position: relative;
      width: 100%;
      height: 162px;
      flex-shrink: 0;
      align-self: stretch;

      @include breakpoint-768 {
        min-width: 200px;
        max-width: 200px;
        height: 120px;
        min-height: auto;
      }

      :global {
        .lazy-img-wrapper {
          position: absolute;
          z-index: 1;
          inset: 0;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .preview-data {
      display: flex;
      min-width: 0;
      height: auto;
      flex: 1;
      flex-direction: column;
      align-self: stretch;
      padding: $sp-16;

      @include breakpoint-768 {
        height: 120px;
        justify-content: center;
        padding: $sp-12 $sp-16;
      }

      .title {
        max-width: calc(100% - 14px);
        color: var(--semantic-label-normal);

        @include ellipsis(1);
        @include headline-02-b;
      }

      .link {
        @include ellipsis(1);
        @include label-01-normal-r;

        color: var(--semantic-label-alternative);

        @include breakpoint-768 {
          margin-top: $sp-4;
          font-feature-settings: "ss10" on;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }

      .description {
        @include label-01-normal-r;

        margin-top: $sp-4;
        color: var(--semantic-label-alternative);

        @include ellipsis(2);

        @include breakpoint-768 {
          @include add-body-text-14-r;

          margin-top: $sp-12;
        }
      }
    }

    .btn-img-delete {
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 2px;
    }
  }
}
