.feed-reactions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 4px;

  .emoji-img {
    width: 22px;
    height: 22px;
    background-color: transparent;

    @include breakpoint-768 {
      width: 32px !important;
      height: 32px !important;
    }
  }

  > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $sp-2 $sp-6;

    &:hover {
      @include hover {
        background: var(--semantic-fill-normal);
      }
    }

    &.no-exist-event {
      cursor: default;
      pointer-events: none;
    }

    &.active {
      // 내가 이모지를 클릭했을때 스타일
    }

    .count {
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
  }

  .btn-add-emoji {
    border-radius: 100px;
    transition: 0.25s;

    svg {
      @include breakpoint-768 {
        width: 48px;
        height: 36px;
      }
    }

    &:hover {
      background: var(--semantic-fill-normal);
    }

    :global {
      .btn-popover {
        background: transparent;
      }
    }
  }
}
