.feed-text-content {
  &.has-click-event {
    cursor: pointer;
  }

  .text {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
    word-break: break-word;

    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      line-height: 1.5;
      text-align: left;

      thead th {
        padding: 10px;
        border-top: 2px solid #1b3453;
        border-bottom: 2px solid #1b3453;
        color: #1b3453;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        vertical-align: center;
      }
    }

    @include add-body-text-16-m;

    @include breakpoint-768 {
      @include add-body-text-18-m;
    }
  }

  :global {
    .mention.complete-mention,
    .hash.complete-hash,
    a {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .img-td {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .btn-ellipsis-trigger {
      margin-left: auto;
      background-color: transparent;
    }
  }

  .modified {
    display: flex;
    height: 24px;
    align-items: center;
    color: var(--semantic-label-alternative);

    @include add-body-text-12-m;

    @include breakpoint-768 {
      @include add-body-text-14-m;
    }
  }

  .show-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: $sp-20;
    color: var(--semantic-label-neutral);

    @include add-body-text-12-m;

    @include breakpoint-768 {
      @include add-body-text-14-m;
    }

    svg {
      path {
        fill: var(--semantic-label-neutral);
      }
    }
  }
}
