.feed-text-content {
  &.has-click-event {
    cursor: pointer;
  }

  .text {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
    word-break: break-word;

    @include add-body-text-14-m;

    @include breakpoint-768 {
      @include add-body-text-18-m;
    }
  }

  :global {
    .mention.complete-mention,
    .hash.complete-hash,
    a {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn-ellipsis-trigger {
      background-color: transparent;
    }
  }
}
