.og-meta-data-preview {
  padding: 0 $sp-20;
  margin-top: $sp-6;

  @include breakpoint-768 {
    padding: 0 $sp-16;
  }

  &.has-click-event {
    cursor: pointer;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        .preview-data {
          * {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .og-meta-data-content {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--semantic-line-normal-neutral);
    border-radius: $rd-12;
    background: var(--semantic-background-normal-alternative);
    color: var(--semantic-label-alternative);

    @include label-01-normal-r;

    .preview-box {
      display: flex;
      align-items: flex-start;

      // flex-wrap: nowrap;

      // @include breakpoint-768 {

      // }
    }

    .preview-img {
      position: relative;
      width: 140px;
      min-width: 140px;
      height: auto;
      flex-shrink: 0;
      align-self: stretch;

      @include breakpoint-768 {
        max-width: 200px;
        height: 120px;
      }

      :global {
        .lazy-img-wrapper {
          position: absolute;
          z-index: 1;
          inset: 0;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .preview-data {
      display: flex;
      min-width: 0;
      height: auto;
      flex: 1;
      flex-direction: column;
      align-self: stretch;
      padding: $sp-8 $sp-16;

      @include breakpoint-768 {
        height: 120px;
        justify-content: center;
        padding: $sp-12 $sp-16;
      }

      .title {
        @include add-body-text-16-b;

        max-width: calc(100% - 14px);
        color: var(--semantic-label-normal);

        @include ellipsis(1);
      }

      .link {
        @include add-body-text-16-r;
        @include ellipsis(1);

        color: var(--semantic-label-alternative);
      }

      .description {
        @include label-01-reading-r;

        margin-top: $sp-4;
        margin-top: -4px;
        color: var(--semantic-label-alternative);

        @include ellipsis(2);
      }
    }

    .btn-img-delete {
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 2px;
    }
  }
}
