.feed-detail-editor {
  height: 100%;

  @include breakpoint-768 {
    height: auto;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 0 $sp-14;
    gap: 0 12px;

    @include breakpoint-768 {
      padding: $sp-20;
    }

    &.exist-user-click-event {
      .user-name,
      .user-img {
        cursor: pointer;
      }
    }

    .profile-info {
      .user-name {
        @include headline-01-b;

        color: var(--wp-semantic-label-normal);
      }

      .btn-post-popover {
        :global {
          .btn-popover {
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            border-radius: 0 !important;
            color: var(--wp-semantic-label-normal);

            @include label-01-normal-m;
          }
        }
      }
    }

    .avatar {
      width: 44px;
      height: 44px;
      flex-shrink: 0;
    }

    .selected-channel {
      display: flex;
      align-items: center;
      padding: $sp-4 $sp-8;
      border-radius: $rd-8;
      background: var(--wp-semantic-background-normal-alternative);
      color: var(--wp-semantic-label-normal);

      @include label-01-normal-sb;

      svg {
        margin-left: $sp-8;

        path {
          fill: var(--wp-semantic-label-normal);
        }
      }

      .avatar {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        margin-right: $sp-4;
        background: rebeccapurple;
      }
    }
  }

  &-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0 $sp-20 $sp-20;

    [class*="og-meta-data-preview"] {
      padding: 0;

      [class*="og-meta-data-content"] {
        [class*="preview-box"] {
          flex-wrap: nowrap;
        }

        [class*="preview-img"] {
          min-width: 140px;
          max-width: 140px;
          height: auto;
        }

        [class*="preview-data"] {
          padding: $sp-8 $sp-16;

          [class*="title"] {
            @include add-body-text-16-b;
          }

          [class*="link"] {
            @include add-body-text-16-r;
          }

          [class*="description"] {
            @include label-01-normal-r;

            margin-top: -4px;
          }
        }
      }
    }

    > [class*="wp-editor"] {
      padding-bottom: 0;
    }
  }

  .editor.post-content {
    min-height: 120px;
    padding: 0;
    border: none;
    margin: 0;

    @include add-body-text-16-m;

    @include breakpoint-768 {
      overflow: auto;
      min-height: 120px;
      max-height: 520px;
      padding: $sp-12;
      border: 1px solid transparent;
      border-radius: $sp-12;
      background: var(--wp-semantic-background-normal-alternative);
      transition: 0.25s;

      @include scroll(3px, var(--wp-semantic-fill-strong), transparent);

      &:focus {
        border: 1px solid var(--wp-semantic-label-normal);
        background: transparent;

        // focus > placeholder 숨김
        &::before {
          font-size: 0;
        }
      }

      &.filled {
        border: 1px solid var(--wp-semantic-label-normal) !important;
        background: transparent;
      }
    }
  }

  .control-box {
    display: flex;
    padding: 0 $sp-20 $sp-16 $sp-20;
    margin-top: auto;

    .left {
      .btn-img-upload {
        position: relative;
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg path {
          fill: var(--wp-semantic-label-normal);
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 30px;
          border-radius: $sp-4;
          background-color: var(--wp-semantic-label-normal);
          content: "";
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: opacity 0.25s;
        }

        &:hover {
          &::before {
            opacity: 0.12;
          }
        }

        input {
          display: none;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;

      .text-count {
        @include label-02-normal-m;

        padding-right: $sp-16;
        color: var(--wp-semantic-label-assistive);

        > b {
          color: var(--wp-semantic-label-normal);
        }
      }

      .btn-submit {
        position: relative;
        height: 40px;
        padding: 0 $sp-20;
        border-radius: $rd-100;
        background: var(--wp-semantic-label-normal);
        color: var(--wp-semantic-label-inverse-normal);
        text-align: center;
        transition: background 0.25s, color 0.25s;

        @include body-02-normal-b;

        &.loading {
          .text {
            visibility: hidden;
          }

          .spinner {
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            inset: 0;
          }
        }

        &:disabled {
          border-radius: $sp-8;
          background: var(--wp-semantic-line-solid-alternative);
          color: var(--wp-semantic-label-alternative);
          cursor: not-allowed;
        }
      }
    }
  }
}
