.feed-comments {
  display: flex;
  align-items: center;
  margin-top: $sp-8;
  margin-left: auto;
  gap: 0 $sp-4;

  button {
    display: inline-flex;
    min-height: 26px;
    align-items: center;
    justify-content: center;
    border-radius: $rd-100;
    background-color: transparent;
    cursor: default !important;

    @include add-body-text-13-sb;

    @include breakpoint-768 {
      min-height: 36px;

      @include add-body-text-16-sb;
    }

    &:hover {
      background: var(--semantic-fill-normal);
    }

    &:not(.btn-share) {
      height: 26px;
      padding: $sp-2 $sp-6;
      border-radius: $rd-100;

      @include breakpoint-768 {
        padding: $sp-2 $sp-8;
      }

      .icon {
        display: flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;

        @include breakpoint-768 {
          width: 32px;
        }
      }
    }

    &.btn-share {
      display: flex;
      width: 36px;
      height: 26px;
      align-items: center;
      justify-content: center;
      margin-left: auto;

      @include breakpoint-768 {
        width: 52px;
        height: 36px;
      }

      svg {
        width: auto;
        height: 16px;

        @include breakpoint-768 {
          height: 24px;
        }
      }
    }

    svg {
      path,
      rect {
        &[class*="fill"] {
          fill: var(--semantic-label-neutral);
          fill-opacity: 1;
          stroke-opacity: 1;

          @include breakpoint-768 {
            fill: var(--semantic-label-normal);
          }
        }

        &[class*="stroke"] {
          fill-opacity: 1;
          stroke: var(--semantic-label-neutral);
          stroke-opacity: 1;

          @include breakpoint-768 {
            fill: var(--semantic-label-normal);
          }
        }
      }
    }

    &.has-click-event {
      cursor: pointer !important;
    }

    .icon {
      display: block;
    }

    &.active {
      // 내가 좋아요 했을때 스타일
      .icon {
        svg {
          [class*="fill"] {
            fill: var(--semantic-primary-normal);
          }

          [class*="stroke"] {
            stroke: var(--semantic-primary-normal);
          }
        }
      }

      .count {
        color: var(--semantic-primary-normal);
      }
    }
  }

  .count {
    padding-left: $sp-2;
    color: var(--semantic-label-neutral);
    font-feature-settings: "ss10" on;

    @include add-body-text-13-sb;

    @include breakpoint-768 {
      padding-left: 0;
      color: var(--semantic-label-normal);

      @include add-body-text-16-sb;
    }
  }
}
