.feed-text-content {
  &.has-click-event {
    cursor: pointer;
  }

  .text {
    word-break: break-word;
  }

  :global {
    .mention.complete-mention,
    .hash.complete-hash,
    a {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
