.feed-box {
  position: relative;

  // TEMP
  max-width: 640px;
  padding: $sp-16 $sp-14 $sp-10;
  border-radius: $sp-12;
  border-bottom: 0.7px solid rgb(0 0 0 / 10%);
  background: var(--semantic-background-elevated-normal);
  box-shadow: 0 5.6px 19.601px 0 rgb(0 0 0 / 6%);
  cursor: default;

  @include breakpoint-768 {
    padding: $sp-24 $sp-20 $sp-16;
  }

  &.has-click-event {
    cursor: pointer;
  }

  .feed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile {
      // style
    }

    .btn-manage {
      :global {
        .btn-popover {
          background: transparent;

          svg {
            width: 22px;
            height: 22px;

            path {
              fill: var(--semantic-label-normal);
            }

            @include breakpoint-768 {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }

  .feed-body {
    min-height: 38px;
    padding: $sp-6 $sp-6 0;
    margin-top: $sp-6;

    @include breakpoint-768 {
      padding-top: $sp-8;
      padding-right: 0;
      padding-left: 0;
      margin-top: $sp-8;
    }

    .text-content {
      margin: 0;

      @include add-body-text-14-m;

      font-family: inherit;

      @include breakpoint-768 {
        @include add-body-text-18-m;

        padding-bottom: $sp-20;
      }
    }

    .carousel {
      overflow: hidden;
      width: 100%;
      margin-top: $sp-12;
      margin-bottom: 0;

      :global {
        .carousel-swiper {
          > .swiper {
            overflow: hidden;
          }
        }

        .swiper-slide {
          &:last-of-type {
            margin-right: 0 !important;
          }

          .slide-item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 0;

            /* 캐러셀 이미지 비율은 16:9 고정, 이미지는 contain */
            padding-bottom: 56.25%;
            border-radius: $rd-12;
            background-color: var(--semantic-fill-strong);
          }

          img {
            min-height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .feed-footer {
    // padding: $sp-4 $sp-20 $sp-16 $sp-20;
    // margin-top: $sp-32;
    margin-top: $sp-32;

    &-container {
      display: flex;
      flex-direction: column;
    }

    button {
      display: flex;
      align-items: center;
      padding: $sp-2 $sp-8;
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;
      text-align: center;

      @include label-01-normal-m;

      .count {
        padding-left: $sp-4;
      }
    }

    .feed-reactions {
      // style
    }

    .feed-comments {
      width: 100%;
      justify-content: space-between;
      padding-top: $sp-10;
      border-top: 1px solid var(--semantic-line-normal-alternative);
      margin-top: $sp-10;
    }
  }

  // /* Skeleton */
  // .skeleton {
  //   width: 100%;
  //   width: 308px;
  //   height: 0;
  //   padding-bottom: 56.527%;
  //   border-radius: $rd-12;
  //   animation: skeleton-blank infinite alternate 3s;
  //   background-color: #d2d2d9;
  // }
}
