.feed-comments {
  display: flex;
  align-items: center;
  margin-top: $sp-8;
  margin-left: auto;

  button {
    &:not(:first-child) {
      margin-left: $sp-24;
    }
  }

  .count{
    padding-left: $sp-4;
  }
}