.feed-comments {
  display: flex;
  align-items: center;
  margin-top: $sp-8;
  margin-left: auto;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: default !important;

    &.has-click-event {
      cursor: pointer !important;
    }

    &:not(:first-child) {
      margin-left: $sp-24;
    }

    &.active {
      // 내가 좋아요 했을때 스타일
      svg {
        path {
          fill: var(--semantic-primary-normal);
        }
      }
    }
  }

  .count {
    padding-left: $sp-4;
  }
}
