.feed-reactions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .emoji-img {
    background-color: transparent;
  }

  > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: $sp-4;

    &:not(:last-child) {
      margin-right: $sp-12;
    }

    &.no-exist-event {
      cursor: default;
      pointer-events: none;
    }

    &.active {
      // 내가 이모지를 클릭했을때 스타일
    }

    .count {
      padding-left: $sp-4;
    }
  }

  .btn-add-emoji {
    margin-top: $sp-4;

    :global {
      .btn-popover {
        width: 24px;
        height: 24px;
      }
    }
  }
}
