.og-meta-data-preview {
  padding: 0 $sp-20;
  margin: $sp-12 0;

  &.has-click-event {
    cursor: pointer;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        .preview-data {
          * {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .og-meta-data-content {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--semantic-line-normal-neutral);
    border-radius: $rd-8;

    // padding: $sp-16;
    color: var(--semantic-label-alternative);

    @include label-01-normal-r;

    .preview-box {
      display: flex;
      align-items: center;
    }

    .preview-img {
      position: relative;
      width: 100%;
      max-width: 200px;
      height: 120px;

      :global {
        .lazy-img-wrapper {
          position: absolute;
          z-index: 1;
          inset: 0;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .preview-data {
      display: flex;
      flex-direction: column;
      padding: $sp-16;

      .title {
        @include label-01-normal-m;

        color: var(--semantic-label-normal);
      }

      .link {
        @include label-01-normal-r;

        color: var(--semantic-label-alternative);
      }

      .description {
        @include label-02-reading-r;

        margin-top: $sp-4;
        color: var(--semantic-label-alternative);

        @include ellipsis(2);
      }
    }

    .btn-img-delete {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }
}
