.profile {
  display: flex;
  width: 100%;
  min-width: 0;
  align-items: flex-start;

  &.has-click-event {
    .title {
      cursor: pointer;
    }
  }

  [class*="avatar"] {
    flex-shrink: 0;
  }

  > .writer-avatar {
    :global {
      width: 44px !important;
      height: 44px !important;
    }
  }

  .title {
    display: flex;
    min-height: 17px;
    min-height: 24px;
    align-items: center;
    color: var(--semantic-label-normal);
    font-feature-settings: "ss10" on;

    @include add-title-18-b;

    svg {
      margin-left: 4px;
    }
  }

  &-text {
    display: flex;
    min-width: 0;
    flex: 1;
    flex-direction: column;
    margin-left: $sp-8;
  }

  .info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;

    @include breakpoint-768 {
      flex-direction: unset;
      align-items: center;
    }

    > span {
      position: relative;

      &:not(:first-child) {
        &::before {
          display: inline-flex;
          width: 2px;
          height: 2px;
          align-items: center;
          border-radius: $rd-circle;
          margin: 0 $sp-6;
          margin-top: -2px;
          background: $color-global-coolNeutral-50;
          content: "";
          vertical-align: middle;
        }
      }
    }

    .category {
      color: var(--semantic-label-neutral);

      @include label-01-normal-r;
    }

    .from-info {
      display: flex;
      flex: 1;
      align-items: center;

      &.has-click-event {
        > * {
          cursor: pointer;
        }
      }

      .ico-from-arrow {
        cursor: default;
      }

      .channel {
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: center;
        gap: 0 $sp-4;

        &-name {
          @include label-02-normal-m;

          display: block;
          color: var(--semantic-label-normal);

          @include ellipsis(1);
        }
      }
    }
  }

  .date {
    margin-top: 2px;
    color: var(--semantic-label-alternative);

    @include add-body-text-15-m;
  }
}
