.feed-iframe-views {
  margin: $sp-12 0;

  .iframe-preview-slider {
    :global {
      .swiper {
        padding: 0 $sp-20;

        .swiper-slide {
          position: relative;
          width: auto !important;

          &:last-of-type {
            margin-right: 0 !important;
          }

          * {
            user-select: none;
          }
        }
      }
    }

    .btn-img-delete {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }

  .preview-iframe-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: $rd-12;

    .swipe-helper {
      position: absolute;
      z-index: 1;
      top: 50%;
      display: block;
      width: calc(50% - 20px);
      height: calc(100% - 80px);
      pointer-events: auto;
      transform: translateY(-50%);

      &.before {
        left: 0;
      }

      &.after {
        right: 0;
      }
    }

    &.mouse-down {
      &::before,
      &::after {
        pointer-events: auto;
      }
    }

    iframe {
      display: block;
      width: 100%;
      min-width: 560px;
      height: 100%;
      border: 0;
      aspect-ratio: 16 / 9;
    }
  }
}
