.iframe-upload-preview{
  margin: $sp-12 0 ;
  

  .iframe-preview-slider{
    :global{
      .swiper{
        padding:  0 $sp-20;

        .swiper-slide{
          position: relative;
          width: auto !important;

          &:last-of-type {
            margin-right: 0 !important;
          }

          *{
            user-select: none;
          }
        }
      }
    }

    .btn-img-delete{
      position: absolute;
      top:0;
      right:0;
      z-index: 1;
    }
  }

  .preview-iframe-box{
    width: 100%; 
    border-radius: $rd-12;
    overflow: hidden;
    iframe {
      display: block;
      min-width: 560px;
      width: 100%; 
      aspect-ratio: 16 / 9;
      height: 100%;
      border:  0;
    }
 
  }
}