.images-upload-preview{
  margin: $sp-12 0 $sp-12 0; 
  .image-preview-slider{
    :global{
      .swiper{
        padding: 0 $sp-20;
        
        .swiper-slide{
          position: relative;
          width: auto !important;

          &:last-of-type {
            margin-right: 0 !important;
          }

          *{
            user-select: none;
          }
        }
      }
    }

    .btn-img-delete{
      position: absolute;
      top:0;
      right:0;
      z-index: 1;
    }
  }

  .preview-image-box{
    overflow: hidden;
    border-radius: $rd-12;

    img{
      height: 177px;
    }
  }
}