.post-detail-editor {
  .post-detail-editor-header {
    display: flex;
    align-items: center;
    padding: 0 $sp-20;

    &.exist-user-click-event {
      .user-name,
      .user-img {
        cursor: pointer;
      }
    }

    .profile-info {
      padding: $sp-6 $sp-12;

      .user-name {
        @include body-02-normal-sb;

        color: var(--semantic-label-normal);
      }

      .btn-post-popover {
        :global {
          .btn-popover {
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            border-radius: 0;
            color: var(--semantic-label-normal);

            @include label-01-normal-r;
          }
        }
      }
    }

    .avatar {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
    }

    .selected-channel {
      display: flex;
      align-items: center;

      @include label-02-normal-m;

      color: var(--semantic-label-normal);

      .avatar {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        margin-right: $sp-4;
        background: rebeccapurple;
      }
    }
  }

  .editor.post-content {
    min-height: 80px;
    padding: $sp-12 $sp-20 $sp-20  $sp-20;
    margin: 0;
  }

  .control-box {
    display: flex;
    padding: $sp-16 $sp-24;
    border-top: 1px solid var(--semantic-line-solid-normal);
    margin-top: $sp-24;

    .left {
      .btn-img-upload {
        position: relative;
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 30px;
          border-radius: $sp-4;
          background-color: var(--semantic-label-normal);
          content: "";
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: opacity 0.25s;
        }

        &:hover {
          &::before {
            opacity: 0.12;
          }
        }

        input {
          display: none;
        }
      }
    }

    .right {
      margin-left: auto;

      .text-count {
        @include label-02-reading-m;

        padding-right: $sp-16;
        color: var(--semantic-label-assistive);

        > b {
          color: var(--semantic-label-alternative);
        }
      }

      .btn-submit {
        height: 40px;
        padding: 0 $sp-20;
        border-radius: $sp-8;

        // background: var(--Cool-Neutral-10, #171719);
        color: var(--semantic-static-white);
        text-align: center;
        transition: background 0.25s, color 0.25s;

        @include body-02-normal-b;

        &:disabled {
          border-radius: $sp-8;
          background: var(--semantic-line-solid-alternative);
          color: var(--semantic-label-alternative);
          cursor: not-allowed;
        }
      }
    }
  }
}
