.wp-editor {
  // style


  .wp-editor-content {
    // height: 100px;
    margin: $sp-12 0; 
    padding:  $sp-12 $sp-20 0 ;
    overflow-y: scroll;
    display: block;

    &:empty {
      &::before {
        color: var(--semantic-label-alternative); 
        @include body-01-reading-02-m;
        content: attr(aria-placeholder);
      }
    }

    :global {
      img {
        max-width: 100%;
      }
    }
  }
}
