.wp-editor {
  height: calc(100% - 150px);
  padding-bottom: $sp-24;

  @include breakpoint-768 {
    height: auto;
  }

  .wp-editor-content {
    display: block;
    padding: $sp-12 $sp-20;
    border: 1px solid #ddd;
    margin: $sp-12 0;
    overflow-y: auto;
    white-space: pre-wrap;

    &:empty:not(:focus) {
      &::before {
        display: inline-block;
        color: var(--semantic-label-alternative);
        content: attr(aria-placeholder);
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        pointer-events: none;
        white-space: pre-wrap;
      }
    }

    :global {
      img {
        max-width: 100%;
      }
    }
  }
}
