.editor-contents {
  color: var(--semantic-static-black);

  @include body-01-reading-02-m;

  &:global {
    &:not(.editor) {
      .mention,
      .hash,
      a {
        cursor: pointer;
      }
    }
  }

  :global {
    .ellipsis-wrap {
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }

    a {
      color: var(--semantic-status-blue);
      text-decoration: none;

      & + a {
        margin-left: $sp-4;
      }
    }

    .mention {
      position: relative;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;

      &.will-mention {
        // style
      }

      &.unkown-mention {
        padding: 0 4px;
        border: 1px dashed gray;
        background-color: transparent;
      }

      &.complete-mention {
        color: var(--semantic-status-blue);
      }
    }

    .hash {
      position: relative;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;

      &.will-hash {
        color: var(--semantic-status-blue);
      }

      &.unknown-hash {
        color: var(--semantic-status-blue);
      }

      &.complete-hash {
        color: var(--semantic-status-blue);
      }
    }
  }
}
