.wp-editor {
  // style

  .wp-editor-header {
    display: flex;
    align-items: center;

    // padding: 0 $sp-20;

    .profile-info {
      padding-left: $sp-12;

      .user-name {
        @include body-02-normal-sb;

        color: var(--semantic-label-normal);
      }

      .btn-post-popover {
        :global {
          .btn-popover {
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            border-radius: 0;
            color: var(--semantic-label-normal);

            @include label-01-normal-r;
          }
        }
      }
    }

    .avatar {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
    }

    .selected-channel {
      display: flex;
      align-items: center;

      @include label-02-normal-m;

      color: var(--semantic-label-normal);

      .avatar {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        margin-right: $sp-4;
        background: rebeccapurple;
      }
    }
  }

  .wp-editor-content {
    display: block;
    padding: $sp-12 $sp-20 0;
    margin: $sp-12 0;
    overflow-y: scroll;

    &:empty {
      &::before {
        color: var(--semantic-label-alternative);

        @include body-01-reading-02-m;

        content: attr(aria-placeholder);
      }
    }

    :global {
      img {
        max-width: 100%;
      }
    }
  }
}
