.option {
  position: relative;
  display: flex;
  height: 48px;
  min-height: 40px;
  align-items: center;
  padding: $sp-14 $sp-16;
  color: var(--wp-semantic-label-strong);
  cursor: pointer;
  transition: background-color ease-in-out 0.25s;

  @include add-body-text-14-m;

  // &:not(:first-child) {
  //   border-top: 1px solid var(--wp-semantic-line-solid-normal);

  //   @include breakpoint-768 {
  //     border: none;
  //   }
  // }

  @include breakpoint-768 {
    &:not(:first-child) {
      border-top: 1px solid var(--wp-semantic-line-solid-normal);
    }
  }

  &.active {
    background-color: var(--wp-semantic-fill-normal);

    @include breakpoint-768 {
      background-color: var(--wp-semantic-background-normal-normal);
    }
  }

  &:hover {
    background-color: var(--wp-semantic-fill-normal);

    @include breakpoint-768 {
      background-color: var(--wp-semantic-background-normal-normal);
    }
  }

  &.match:not(:hover) {
    background-color: var(--wp-semantic-fill-normal);

    @include breakpoint-768 {
      background-color: var(--wp-semantic-background-normal-normal);
    }
  }

  &.hide { display: none; }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
