/* stylelint-disable custom-property-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable selector-class-pattern */

/* iOS 브라우저 높이 대응 */
$vh: var(--vh, 1vh); // calc($vh * 100 )

/* Gap */
$gap-mobile-col: 16px;
$gap-desktop-col: 40px;
$gap-mobile-row: 100px;
$gap-desktop-row: 160px;

/* Spacing */
$sp-2: 0.125rem;  // 2px
$sp-3: 0.188rem;  // 3px
$sp-4: 0.25rem;  // 4px
$sp-6: 0.375rem;  // 6px
$sp-8: 0.5rem;  // 8px
$sp-10: 0.625rem;  // 10px
$sp-12: 0.75rem; // 12px
$sp-14: 0.875rem; // 14px
$sp-16: 1rem; // 16px
$sp-18: 1.125rem; // 18px
$sp-20: 1.25rem;   // 20px
$sp-24: 1.5rem; // 24px
$sp-26: 1.625rem; // 26px
$sp-28: 1.75rem; // 28px
$sp-30: 1.875rem; // 30px
$sp-32: 2rem; // 32px
$sp-34: 2.125rem; // 34px
$sp-36: 2.25rem; // 36px
$sp-38: 2.375rem;   // 38px
$sp-40: 2.5rem;   // 40px
$sp-44: 2.75rem; // 44px
$sp-48: 3rem; // 48px
$sp-52: 3.25rem; // 52px
$sp-56: 3.5rem; // 56px
$sp-60: 3.75rem;   // 60px
$sp-72: 4.5rem; // 72px
$sp-80: 5rem;   // 80px
$sp-88: 5.5rem;   // 88px

/* Radius */
$rd-2: 0.125rem;  // 2px
$rd-3: 0.188rem;   // 3px
$rd-4: 0.25rem;  // 4px
$rd-6: 0.375rem;  // 6px
$rd-8: 0.5rem;  // 8px
$rd-10: 0.625rem; // 10px
$rd-12: 0.75rem; // 12px
$rd-16: 1rem; // 16px
$rd-20: 1.25rem;   // 20px
$rd-24: 1.5rem; // 24px
$rd-40: 2.5rem; // 40px
$rd-70: 4.375rem; // 70px
$rd-100: 6.25rem; // 100px
$rd-circle: 50%; // circle

/* Max Width */
$max-width: 1360px;
$max-width-desktop: 1080px;
$max-width-tablet: 1040px;
$max-width-600: 600px;
$max-width-640: 640px;
$max-width-720: 720px;
$max-width-900: 900px;

/*
  Color Palette * Global
  글로벌 변수에 정의된 것을 기준으로 시멘틱 컬러변수에 재정의하여 사용합니다.
*/

/* wemixplay */
$color-global-wemixplay-50: #f06;
$color-global-wemixplay-40: #e5005c;
$color-global-wemixplay-30: #cc0052;

/* common */
$color-global-common-100: #fff;
$color-global-common-0: #000;

/* neutral */
$color-global-neutral-99: #f7f7f7;
$color-global-neutral-95: #dcdcdc;
$color-global-neutral-90: #c4c4c4;
$color-global-neutral-80: #b0b0b0;
$color-global-neutral-70: #9b9b9b;
$color-global-neutral-60: #8a8a8a;
$color-global-neutral-50: #737373;
$color-global-neutral-40: #5c5c5c;
$color-global-neutral-30: #474747;
$color-global-neutral-22: #303030;
$color-global-neutral-20: #2a2a2a;
$color-global-neutral-15: #1c1c1c;
$color-global-neutral-10: #171717;
$color-global-neutral-5: #0f0f0f;

/* cool neutral */
$color-global-coolNeutral-99: #f7f7f8;
$color-global-coolNeutral-98: #f4f4f5;
$color-global-coolNeutral-97: #eaebec;
$color-global-coolNeutral-96: #e1e2e4;
$color-global-coolNeutral-95: #dbdcdf;
$color-global-coolNeutral-90: #c2c4c8;
$color-global-coolNeutral-80: #aeb0b6;
$color-global-coolNeutral-70: #989ba2;
$color-global-coolNeutral-60: #878a93;
$color-global-coolNeutral-50: #70737c;
$color-global-coolNeutral-40: #5a5c63;
$color-global-coolNeutral-30: #46474c;
$color-global-coolNeutral-25: #37383c;
$color-global-coolNeutral-23: #333438;
$color-global-coolNeutral-22: #2e2f33;
$color-global-coolNeutral-20: #292a2d;
$color-global-coolNeutral-17: #212225;
$color-global-coolNeutral-15: #1b1c1e;
$color-global-coolNeutral-10: #171719;
$color-global-coolNeutral-7: #141415;
$color-global-coolNeutral-5: #0f0f10;

/* blue */
$color-global-blue-99: #f7fbff;
$color-global-blue-95: #eaf2fe;
$color-global-blue-90: #c9defe;
$color-global-blue-80: #9ec5ff;
$color-global-blue-70: #69a5ff;
$color-global-blue-60: #3385ff;
$color-global-blue-55: #1a75ff;
$color-global-blue-50: #06f;
$color-global-blue-45: #005eeb;
$color-global-blue-40: #0054d1;
$color-global-blue-30: #003e9c;
$color-global-blue-20: #002966;
$color-global-blue-10: #001536;

/* red */
$color-global-red-99: #fffafa;
$color-global-red-95: #feecec;
$color-global-red-90: #fed5d5;
$color-global-red-80: #ffb5b5;
$color-global-red-70: #ff8c8c;
$color-global-red-60: #ff6363;
$color-global-red-50: #ff4242;
$color-global-red-40: #e52222;
$color-global-red-30: #b00c0c;
$color-global-red-20: #730303;
$color-global-red-10: #3b0101;

/* green */
$color-global-green-99: #f2fff6;
$color-global-green-95: #d9ffe6;
$color-global-green-90: #acfcc7;
$color-global-green-80: #7df5a5;
$color-global-green-70: #49e57d;
$color-global-green-60: #1ed45a;
$color-global-green-50: #00bf40;
$color-global-green-40: #009632;
$color-global-green-30: #006e25;
$color-global-green-20: #004517;
$color-global-green-10: #00240c;

/* orange */
$color-global-orange-99: #fffcf7;
$color-global-orange-95: #fef4e6;
$color-global-orange-90: #fee6c6;
$color-global-orange-80: #ffd49c;
$color-global-orange-70: #ffc06e;
$color-global-orange-60: #ffa938;
$color-global-orange-50: #ff9200;
$color-global-orange-40: #d47800;
$color-global-orange-30: #9c5800;
$color-global-orange-20: #663a00;
$color-global-orange-10: #361e00;

/* redOrange */
$color-global-redOrange-99: #fffaf7;
$color-global-redOrange-95: #feeee5;
$color-global-redOrange-90: #fed9c4;
$color-global-redOrange-80: #ffbd96;
$color-global-redOrange-70: #ff9b61;
$color-global-redOrange-60: #ff7b2e;
$color-global-redOrange-50: #ff5e00;
$color-global-redOrange-40: #c94a00;
$color-global-redOrange-30: #913500;
$color-global-redOrange-20: #592100;
$color-global-redOrange-10: #290f00;

/* lime */
$color-global-lime-99: #f8fff2;
$color-global-lime-95: #e6ffd4;
$color-global-lime-90: #ccfca9;
$color-global-lime-80: #aef779;
$color-global-lime-70: #88f03e;
$color-global-lime-60: #6be016;
$color-global-lime-50: #58cf04;
$color-global-lime-40: #48ad00;
$color-global-lime-30: #347d00;
$color-global-lime-20: #225200;
$color-global-lime-10: #112900;

/* cyan */
$color-global-cyan-99: #f7feff;
$color-global-cyan-95: #defaff;
$color-global-cyan-90: #b5f4ff;
$color-global-cyan-80: #8aedff;
$color-global-cyan-70: #57dff7;
$color-global-cyan-60: #28d0ed;
$color-global-cyan-50: #00bdde;
$color-global-cyan-40: #0098b2;
$color-global-cyan-30: #006f82;
$color-global-cyan-20: #004854;
$color-global-cyan-10: #00252b;

/* lightBlue */
$color-global-lightBlue-99: #f7fdff;
$color-global-lightBlue-95: #e5f6fe;
$color-global-lightBlue-90: #c4ecfe;
$color-global-lightBlue-80: #a1e1ff;
$color-global-lightBlue-70: #70d2ff;
$color-global-lightBlue-60: #3dc2ff;
$color-global-lightBlue-50: #00aeff;
$color-global-lightBlue-40: #008dcf;
$color-global-lightBlue-30: #006796;
$color-global-lightBlue-20: #004261;
$color-global-lightBlue-10: #002130;

/* violet */
$color-global-violet-99: #fbfaff;
$color-global-violet-98: #baf3;
$color-global-violet-95: #f0ecfe;
$color-global-violet-90: #dbd3fe;
$color-global-violet-80: #c0b0ff;
$color-global-violet-70: #9e86fc;
$color-global-violet-60: #7d5ef7;
$color-global-violet-50: #6541f2;
$color-global-violet-40: #4f29e5;
$color-global-violet-30: #3a16c9;
$color-global-violet-20: #23098f;
$color-global-violet-10: #11024d;

/* purple */
$color-global-purple-99: #fefbff;
$color-global-purple-98: rgb(203 89 255 / 20%);
$color-global-purple-95: #f9edff;
$color-global-purple-90: #f2d6ff;
$color-global-purple-80: #e9baff;
$color-global-purple-70: #de96ff;
$color-global-purple-60: #d478ff;
$color-global-purple-50: #cb59ff;
$color-global-purple-40: #ad36e3;
$color-global-purple-30: #861cb8;
$color-global-purple-20: #580a7d;
$color-global-purple-10: #290247;

/* pink */
$color-global-pink-99: #fffafe;
$color-global-pink-95: #feecfb;
$color-global-pink-90: #fed3f7;
$color-global-pink-80: #ffb8f3;
$color-global-pink-70: #ff94ed;
$color-global-pink-60: #fa73e3;
$color-global-pink-50: #f553da;
$color-global-pink-40: #d331b8;
$color-global-pink-30: #a81690;
$color-global-pink-20: #730560;
$color-global-pink-10: #3d0133;

/* opacity */
$color-global-opacity-0: 0%;
$color-global-opacity-5: 5%;
$color-global-opacity-6: 6%;
$color-global-opacity-8: 8%;
$color-global-opacity-10: 10%;
$color-global-opacity-12: 12%;
$color-global-opacity-16: 16%;
$color-global-opacity-20: 20%;
$color-global-opacity-22: 22%;
$color-global-opacity-28: 28%;
$color-global-opacity-30: 30%;
$color-global-opacity-32: 32%;
$color-global-opacity-35: 35%;
$color-global-opacity-43: 43%;
$color-global-opacity-52: 52%;
$color-global-opacity-60: 60%;
$color-global-opacity-61: 61%;
$color-global-opacity-64: 64%;
$color-global-opacity-74: 74%;
$color-global-opacity-88: 88%;
$color-global-opacity-97: 97%;
$color-global-opacity-100: 100%;

/* 기존 NFT에서 사용되는 컬러값 */
$color-white: #f5f5f5;
$color-content-item: #272742;
$color-content-item-text: #8a95a3;

/* Typography */

// BASE
@mixin display-01-base {
  @include typo(56, 72);

  letter-spacing: -0.0319em;
}

@mixin display-02-base {
  @include typo(40, 52);

  letter-spacing: -0.0282em;
}

@mixin title-01-base {
  @include typo(36, 48);

  letter-spacing: -0.027em;
}

@mixin title-02-base {
  letter-spacing: -0.0236em;

  @include typo(28, 38);
}

@mixin title-03-base {
  letter-spacing: -0.023em;

  @include typo(24, 32);
}

@mixin headline-01-base {
  @include typo(18, 26);

  letter-spacing: -0.002em;
}

@mixin headline-02-base {
  letter-spacing: 0;

  @include typo(17, 24);
}

@mixin heading-02-base {
  letter-spacing: -0.012em;

  @include typo(20, 28);
}

@mixin body-01-normal-base {
  letter-spacing: 0.0057em;

  @include typo(16, 24);
}

@mixin body-01-reading-01-base {
  @include typo(16, 26);

  letter-spacing: 0.0057em;
}

@mixin body-01-reading-02-base {
  @include typo(16, 21);

  letter-spacing: 0.0057em;
}

@mixin body-02-normal-base {
  letter-spacing: 0.0096em;

  @include typo(15, 22);
}

@mixin body-02-reading-base {
  letter-spacing: 0.0096em;

  @include typo(15, 24);
}

@mixin label-01-normal-base {
  @include typo(14, 20);

  letter-spacing: 0.0145em;
}

@mixin label-01-reading-base {
  letter-spacing: 0.0145em;

  @include typo(14, 22);
}

@mixin label-02-normal-base {
  letter-spacing: 0.0194em;

  @include typo(13, 18);
}

@mixin caption-01-base {
  @include typo(12, 16);

  letter-spacing: 0.0252em;
}

@mixin caption-02-base {
  @include typo(11, 14);

  letter-spacing: 0;
}

@mixin add-title-28-base {
  @include typo(28, 28);
}

@mixin add-title-24-base {
  @include typo(24, 24);
}

@mixin add-title-20-base {
  @include typo(20, 20);
}

@mixin add-title-18-base {
  @include typo(18, 18);
}

@mixin add-body-text-18-base {
  @include typo(18, 24);
}

@mixin add-body-text-16-base {
  @include typo(16, 24);
}

@mixin add-body-text-15-base {
  @include typo(15, 15);
}

@mixin add-body-text-14-base {
  @include typo(14, 19);
}

@mixin add-body-text-13-base {
  @include typo(13, 13);
}

@mixin add-body-text-12-base {
  @include typo(12, 12);
}

// TYPOGRAPHY Weight
@mixin display-01-b {
  font-weight: 700;

  @include display-01-base;
}

@mixin display-01-sb {
  font-weight: 600;

  @include display-01-base;
}

@mixin display-01-m {
  font-weight: 500;

  @include display-01-base;
}

@mixin display-01-r {
  font-weight: 400;

  @include display-01-base;
}

@mixin display-02-b {
  font-weight: 700;

  @include display-02-base;
}

@mixin display-02-sb {
  font-weight: 600;

  @include display-02-b;
}

@mixin display-02-m {
  font-weight: 500;

  @include display-02-b;
}

@mixin display-02-r {
  font-weight: 400;

  @include display-02-b;
}

@mixin title-01-b {
  font-weight: 700;

  @include title-01-base;
}

@mixin title-01-sb {
  font-weight: 600;

  @include title-01-base;
}

@mixin title-01-m {
  font-weight: 500;

  @include title-01-base;
}

@mixin title-01-r {
  font-weight: 400;

  @include title-01-base;
}

@mixin title-02-b {
  font-weight: 700;

  @include title-02-base;
}

@mixin title-02-sb {
  font-weight: 600;

  @include title-02-base;
}

@mixin title-02-m {
  font-weight: 500;

  @include title-02-base;
}

@mixin title-02-r {
  font-weight: 400;

  @include title-02-base;
}

@mixin title-03-b {
  font-weight: 700;

  @include title-03-base;
}

@mixin title-03-sb {
  font-weight: 600;

  @include title-03-base;
}

@mixin title-03-m {
  font-weight: 500;

  @include title-03-base;
}

@mixin title-03-r {
  font-weight: 400;

  @include title-03-base;
}

@mixin heading-01-b {
  font-weight: 700;

  @include headline-01-base;
}

@mixin heading-01-sb {
  font-weight: 600;

  @include headline-01-base;
}

@mixin heading-01-m {
  font-weight: 500;

  @include headline-01-base;
}

@mixin heading-01-r {
  font-weight: 400;

  @include headline-01-base;
}

@mixin heading-02-b {
  font-weight: 700;

  @include heading-02-base;
}

@mixin heading-02-sb {
  font-weight: 600;

  @include heading-02-base;
}

@mixin heading-02-m {
  font-weight: 500;

  @include heading-02-base;
}

@mixin heading-02-r {
  font-weight: 400;

  @include heading-02-base;
}

@mixin headline-01-b {
  font-weight: 700;

  @include headline-01-base;
}

@mixin headline-01-sb {
  font-weight: 600;

  @include headline-01-base;
}

@mixin headline-01-m {
  font-weight: 500;

  @include headline-01-base;
}

@mixin headline-01-r {
  font-weight: 400;

  @include headline-01-base;
}

@mixin headline-02-b {
  font-weight: 700;

  @include headline-02-base;
}

@mixin headline-02-sb {
  font-weight: 600;

  @include headline-02-base;
}

@mixin headline-02-m {
  font-weight: 500;

  @include headline-02-base;
}

@mixin headline-02-r {
  font-weight: 400;

  @include headline-02-base;
}

@mixin body-01-normal-b {
  font-weight: 700;

  @include body-01-normal-base;
}

@mixin body-01-normal-sb {
  font-weight: 600;

  @include body-01-normal-base;
}

@mixin body-01-normal-m {
  font-weight: 500;

  @include body-01-normal-base;
}

@mixin body-01-normal-r {
  font-weight: 400;

  @include body-01-normal-base;
}

@mixin body-01-reading-01-b {
  font-weight: 700;

  @include body-01-reading-01-base;
}

@mixin body-01-reading-01-sb {
  font-weight: 600;

  @include body-01-reading-01-base;
}

@mixin body-01-reading-01-m {
  font-weight: 500;

  @include body-01-reading-01-base;
}

@mixin body-01-reading-01-r {
  font-weight: 400;

  @include body-01-reading-01-base;
}

@mixin body-01-reading-02-b {
  font-weight: 700;

  @include body-01-reading-02-base;
}

@mixin body-01-reading-02-sb {
  font-weight: 600;

  @include body-01-reading-02-base;
}

@mixin body-01-reading-02-m {
  font-weight: 500;

  @include body-01-reading-02-base;
}

@mixin body-01-reading-02-r {
  font-weight: 400;

  @include body-01-reading-02-base;
}

@mixin body-02-normal-b {
  font-weight: 700;

  @include body-02-normal-base;
}

@mixin body-02-normal-sb {
  font-weight: 600;

  @include body-02-normal-base;
}

@mixin body-02-normal-m {
  font-weight: 500;

  @include body-02-normal-base;
}

@mixin body-02-normal-r {
  font-weight: 400;

  @include body-02-normal-base;
}

@mixin body-02-reading-b {
  font-weight: 700;

  @include body-02-reading-base ;
}

@mixin body-02-reading-sb {
  font-weight: 600;

  @include body-02-reading-base ;
}

@mixin body-02-reading-m {
  font-weight: 500;

  @include body-02-reading-base ;
}

@mixin body-02-reading-r {
  font-weight: 400;

  @include body-02-reading-base ;
}

@mixin label-01-normal-b {
  font-weight: 700;

  @include label-01-normal-base;
}

@mixin label-01-normal-sb {
  font-weight: 600;

  @include label-01-normal-base;
}

@mixin label-01-normal-m {
  font-weight: 500;

  @include label-01-normal-base;
}

@mixin label-01-normal-r {
  font-weight: 400;

  @include label-01-normal-base;
}

@mixin label-01-reading-b {
  font-weight: 700;

  @include label-01-reading-base;
}

@mixin label-01-reading-sb {
  font-weight: 600;

  @include label-01-reading-base;
}

@mixin label-01-reading-m {
  font-weight: 500;

  @include label-01-reading-base;
}

@mixin label-01-reading-r {
  font-weight: 400;

  @include label-01-reading-base;
}

@mixin label-02-normal-b {
  font-weight: 700;

  @include label-02-normal-base;
}

@mixin label-02-normal-sb {
  font-weight: 600;

  @include label-02-normal-base;
}

@mixin label-02-normal-m {
  font-weight: 500;

  @include label-02-normal-base;
}

@mixin label-02-normal-r {
  font-weight: 400;

  @include label-02-normal-base;
}

@mixin caption-01-b {
  font-weight: 700;

  @include caption-01-base;
}

@mixin caption-01-sb {
  font-weight: 600;

  @include caption-01-base;
}

@mixin caption-01-m {
  font-weight: 500;

  @include caption-01-base;
}

@mixin caption-01-r {
  font-weight: 400;

  @include caption-01-base;
}

@mixin caption-02-b {
  font-weight: 700;

  @include caption-02-base;
}

@mixin caption-02-sb {
  font-weight: 600;

  @include caption-02-base;
}

@mixin caption-02-m {
  font-weight: 500;

  @include caption-02-base;
}

@mixin caption-02-r {
  font-weight: 400;

  @include caption-02-base;
}

@mixin add-title-28-eb {
  @include add-title-28-base;

  font-weight: 800;
}

@mixin add-title-28-b {
  @include add-title-28-base;

  font-weight: 700;
}

@mixin add-title-28-sb {
  @include add-title-28-base;

  font-weight: 600;
}

@mixin add-title-28-m {
  @include add-title-28-base;

  font-weight: 500;
}

@mixin add-title-28-r {
  @include add-title-28-base;

  font-weight: 400;
}

@mixin add-title-24-eb {
  @include add-title-24-base;

  font-weight: 800;
}

@mixin add-title-24-b {
  @include add-title-24-base;

  font-weight: 700;
}

@mixin add-title-24-sb {
  @include add-title-24-base;

  font-weight: 600;
}

@mixin add-title-24-m {
  @include add-title-24-base;

  font-weight: 500;
}

@mixin add-title-24-r {
  @include add-title-24-base;

  font-weight: 400;
}

@mixin add-title-20-eb {
  @include add-title-20-base;

  font-weight: 800;
}

@mixin add-title-20-b {
  @include add-title-20-base;

  font-weight: 700;
}

@mixin add-title-20-sb {
  @include add-title-20-base;

  font-weight: 600;
}

@mixin add-title-20-m {
  @include add-title-20-base;

  font-weight: 500;
}

@mixin add-title-20-r {
  @include add-title-20-base;

  font-weight: 400;
}

@mixin add-title-18-eb {
  @include add-title-18-base;

  font-weight: 800;
}

@mixin add-title-18-b {
  @include add-title-18-base;

  font-weight: 700;
}

@mixin add-title-18-sb {
  @include add-title-18-base;

  font-weight: 600;
}

@mixin add-title-18-m {
  @include add-title-18-base;

  font-weight: 500;
}

@mixin add-title-18-r {
  @include add-title-18-base;

  font-weight: 400;
}

@mixin add-body-text-18-eb {
  @include add-body-text-18-base;

  font-weight: 800;
}

@mixin add-body-text-18-b {
  @include add-body-text-18-base;

  font-weight: 700;
}

@mixin add-body-text-18-sb {
  @include add-body-text-18-base;

  font-weight: 600;
}

@mixin add-body-text-18-m {
  @include add-body-text-18-base;

  font-weight: 500;
}

@mixin add-body-text-18-r {
  @include add-body-text-18-base;

  font-weight: 400;
}

@mixin add-body-text-16-eb {
  @include add-body-text-16-base;

  font-weight: 800;
}

@mixin add-body-text-16-b {
  @include add-body-text-16-base;

  font-weight: 700;
}

@mixin add-body-text-16-sb {
  @include add-body-text-16-base;

  font-weight: 600;
}

@mixin add-body-text-16-m {
  @include add-body-text-16-base;

  font-weight: 500;
}

@mixin add-body-text-16-r {
  @include add-body-text-16-base;

  font-weight: 400;
}

@mixin add-body-text-15-eb {
  @include add-body-text-15-base;

  font-weight: 800;
}

@mixin add-body-text-15-b {
  @include add-body-text-15-base;

  font-weight: 700;
}

@mixin add-body-text-15-sb {
  @include add-body-text-15-base;

  font-weight: 600;
}

@mixin add-body-text-15-m {
  @include add-body-text-15-base;

  font-weight: 500;
}

@mixin add-body-text-15-r {
  @include add-body-text-15-base;

  font-weight: 400;
}

@mixin add-body-text-14-eb {
  @include add-body-text-14-base;

  font-weight: 800;
}

@mixin add-body-text-14-b {
  @include add-body-text-14-base;

  font-weight: 700;
}

@mixin add-body-text-14-sb {
  @include add-body-text-14-base;

  font-weight: 600;
}

@mixin add-body-text-14-m {
  @include add-body-text-14-base;

  font-weight: 500;
}

@mixin add-body-text-14-r {
  @include add-body-text-14-base;

  font-weight: 400;
}

@mixin add-body-text-13-eb {
  font-weight: 800;

  @include add-body-text-13-base;
}

@mixin add-body-text-13-b {
  @include add-body-text-13-base;

  font-weight: 700;
}

@mixin add-body-text-13-sb {
  @include add-body-text-13-base;

  font-weight: 600;
}

@mixin add-body-text-13-m {
  @include add-body-text-13-base;

  font-weight: 500;
}

@mixin add-body-text-13-r {
  @include add-body-text-13-base;

  font-weight: 400;
}

@mixin add-body-text-12-eb {
  @include add-body-text-12-base;

  font-weight: 800;
}

@mixin add-body-text-12-b {
  @include add-body-text-12-base;

  font-weight: 700;
}

@mixin add-body-text-12-sb {
  @include add-body-text-12-base;

  font-weight: 600;
}

@mixin add-body-text-12-m {
  @include add-body-text-12-base;

  font-weight: 500;
}

@mixin add-body-text-12-r {
  @include add-body-text-12-base;

  font-weight: 400;
}
