.author {
  position: relative;
  display: flex;
  align-items: center;

  &-avatar {
    flex-shrink: 0;
    margin-right: $sp-12;

    >div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-info {
    display: flex;
    flex-wrap: wrap;

    .author-name {
      width: 100%;
      color: var(--semantic-label-normal);

      @include label-01-reading-sb;
    }

    .author-followers {
      margin-top: -$sp-2;
      margin-right: $sp-8;
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;

      @include label-01-normal-r;
    }

    .author-time {
      margin-top: -$sp-2;
      color: var(--semantic-label-alternative);
      font-feature-settings: "ss10" on;

      @include label-01-normal-r;
    }
  }
}
