.comment-etc-info {
  padding-top: $sp-8;
  border-top: 1px solid var(--semantic-line-normal-alternative);
  margin-top: $sp-16;

  @include breakpoint-768 {
    height: 36px;
    padding-top: 0;
    border-top: 0;
    margin-top: $sp-4;
  }

  .btn-like {
    display: flex;
    align-items: center;

    &-ico {
      svg {
        width: 22px;
        height: 22px;

        @include breakpoint-768 {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  button {
    background-color: transparent;

    svg {
      path,
      rect {
        &[class*="fill"] {
          fill: var(--semantic-label-neutral);

          @include breakpoint-768 {
            fill: var(--semantic-label-normal);
          }
        }

        &[class*="stroke"] {
          stroke: var(--semantic-label-neutral);

          @include breakpoint-768 {
            stroke: var(--semantic-label-normal);
          }
        }
      }
    }

    .icon {
      display: block;
    }

    .icon-pressed {
      display: none;
    }

    &.active {
      // 내가 좋아요 했을때 스타일

      .icon {
        display: none;
      }

      .icon-pressed {
        display: block;

        path {
          transform-origin: center;
        }
      }
    }

    .count {
      color: var(--semantic-label-neutral);
      line-height: 1;

      @include breakpoint-768 {
        @include add-body-text-16-sb;

        color: var(--semantic-label-neutral);
      }
    }
  }
}
