.comment-box {
  width: 100%;
  padding: $sp-20 0;

  &.has-click-event {
    cursor: pointer;
  }

  /* Comment Author */
  .author {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  /* Comment Content */
  .comment-content {
    padding: $sp-6 0 $sp-14;
    margin-top: $sp-8;
    color: var(--wp-semantic-label-strong);
    font-feature-settings: "ss10" on;

    @include add-body-text-14-m;

    @include breakpoint-768 {
      padding: $sp-8 0 $sp-20 $sp-8;
      margin-top: $sp-8;

      @include body-01-reading-02-r;
    }

    :global {
      .ellipsis-wrap {
        .ellipsis-content {
          @include add-body-text-16-m;

          @include breakpoint-768 {
            @include add-body-text-18-m;
          }
        }
      }
    }
  }

  .comment-btns {
    margin: $sp-8 0 $sp-16;

    .btn-like {
      display: flex;
      align-items: center;

      &-ico {
        margin-right: $sp-4;
      }
    }
  }

  &.deleted-comment {
    display: flex;
    min-height: 54px;
    align-items: center;
    justify-content: center;
    padding: $sp-18 0;
    color: var(--wp-semantic-label-alternative);
    font-feature-settings: "ss10" on;
    text-align: center;

    @include add-body-text-12-m;

    @include breakpoint-768 {
      min-height: 71px;
      padding: $sp-24 0;
      line-height: 23px !important;

      @include add-body-text-15-m;
    }
  }

  .btn-manage {
    @include breakpoint-768 {
      width: 32px;
      height: 32px;
    }

    svg {
      @include breakpoint-768 {
        width: 32px;
        height: 32px;
      }

      [class*="fill"] {
        fill: var(--wp-semantic-label-normal);
      }
    }
  }
}
