.comment-etc-info {
  margin-top: $sp-2;

  .btn-like {
    display: flex;
    align-items: center;

    &-ico {
      svg {
        width: 22px;
        height: 22px;

        @include breakpoint-768 {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  button {
    background-color: transparent;

    svg {
      path,
      rect {
        &[class*="fill"] {
          fill: var(--semantic-label-normal);
        }

        &[class*="stroke"] {
          stroke: var(--semantic-label-normal);
        }
      }
    }

    .icon {
      display: block;
    }

    .icon-pressed {
      display: none;
    }

    &.active {
      // 내가 좋아요 했을때 스타일

      .icon {
        display: none;
      }

      .icon-pressed {
        display: block;

        path {
          transform-origin: center;
        }
      }
    }

    .count {
      color: var(--semantic-label-normal);
      line-height: 1;
    }
  }
}
