.author {
  position: relative;
  display: flex;
  align-items: center;

  &.has-click-event {
    .author-avatar,
    .author-name {
      cursor: pointer;
    }
  }

  &-avatar {
    flex-shrink: 0;
    margin-right: $sp-12;

    :global {
      .avatar {
        width: 32px;
        height: 32px;

        @include breakpoint-768 {
          width: 44px;
          height: 44px;
        }
      }
    }

    >div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    padding-right: $sp-12;

    .author-name {
      width: 100%;
      min-height: 17px;
      color: var(--semantic-label-normal);

      @include add-body-text-15-b;

      @include breakpoint-768 {
        display: flex;
        min-height: 24px;
        align-items: center;

        @include add-title-18-b;
      }
    }

    .author-followers {
      margin-right: $sp-8;
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;

      @include add-body-text-13-m;

      @include breakpoint-768 {
        @include add-body-text-15-m;
      }
    }

    .author-time {
      margin-top: 1px;
      color: var(--semantic-label-alternative);
      font-feature-settings: "ss10" on;

      @include add-body-text-13-m;

      @include breakpoint-768 {
        @include add-body-text-15-m;

        margin-top: $sp-4;
      }
    }
  }
}
