.author {
  position: relative;
  display: flex;
  align-items: center;

  &-avatar {
    flex-shrink: 0;
    margin-right: $sp-12;

    >div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-info {
    display: grid;
    column-gap: $sp-12;
    grid-template:
      "author-name author-name"
      "author-followers author-time"
      / 1fr auto;
    row-gap: -$sp-2;

    .author-name {
      color: var(--semantic-label-normal);
      grid-area: author-name;

      @include label-01-reading-sb;
    }

    .author-followers {
      color: var(--semantic-label-normal);
      font-feature-settings: "ss10" on;
      grid-area: author-followers;

      @include label-01-normal-r;
    }

    .author-time {
      color: var(--semantic-label-alternative);
      font-feature-settings: "ss10" on;
      grid-area: author-time;

      @include label-01-normal-r;
    }
  }
}
