.chip-tab {
  :global {
    .tab-nav-wrap {
      background: transparent;
    }

    .tab-nav-scroll {
      border-bottom: none;
    }

    .tab-nav {
      column-gap: 8px;

      .tab-btn {
        display: flex;
        width: auto;
        height: auto;
        min-height: 32px;
        align-items: center;
        justify-content: center;
        padding: 0 $sp-12;
        border: 1px solid var(--semantic-label-disable);
        border-radius: 40px;
        color: var(--semantic-label-alternative);
        cursor: pointer;
        transition: color 0.25s, background-color 0.25s, border-color 0.25s;

        @include label-01-normal-r;

        &.active {
          border-color: $color-global-coolNeutral-20;
          background-color: $color-global-coolNeutral-20;
          color: var(--semantic-static-white);

          @include label-02-normal-sb;
        }
      }
    }
  }
}
