.tab {
  display: block;
}

.tab-nav-wrap {
  position: relative;
  padding: 0 $sp-20;

  @include breakpoint-768 {
    padding: 0 $sp-16;
  }
}

.tab-nav-scroll {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  @include scroll(0, transparent, transparent);

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab-nav {
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--wp-semantic-fill-strong);
}

.tab-btn {
  /**
  * width: 100%를 주시면 tab button 사이즈가 영역에 맞게 full로 채워집니다.
  * 상위 컴포넌트에서 width를 재정의 부탁드립니다.
  */
  position: relative;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: $sp-12 0;
  border: 0;
  margin: 0;
  margin-right: $sp-20;
  color: var(--wp-semantic-label-alternative);
  cursor: pointer;
  font-feature-settings: "cv13" on;
  outline: none;
  text-align: center;

  @include body-01-normal-sb;

  svg [class*="fill"] {
    fill: var(--wp-semantic-label-alternative);
  }

  &.active {
    color: var(--wp-semantic-label-normal);
    font-feature-settings: "cv13" on;

    svg [class*="fill"] {
      fill: var(--wp-semantic-label-normal);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.slider {
  position: absolute;
  z-index: 1;
  bottom: -1px;
  left: 0;
  height: 3px;
  background-color: var(--wp-semantic-label-normal);
  transition: transform 0.25s, width 0.25s;
}

.tab-content-holder {
  max-width: 100%;
  padding-top: $sp-8;

  .tabs-content {
    display: none;

    &.active {
      display: block;
    }
  }
}
