.ellipsis-wrap {
  color: var(--wp-semantic-label-strong);

  &.shortened {
    .btn-ellipsis-trigger {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &.enable-show-more {
    &.shortened {
      .btn-ellipsis-trigger {
        svg {
          width: 12px;
          margin-top: 2.5px;
        }
      }
    }
  }

  .ellipsis-content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: inherit;
    font-style: normal;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
    transition: height 0.3s;
    will-change: height;

    @include add-body-text-14-m;

    @include breakpoint-768 {
      @include add-body-text-18-m;
    }
  }

  .btn-ellipsis-trigger {
    display: flex;
    height: 18px;
    align-items: center;
    margin-top: $sp-8;
    background: transparent;
    color: inherit;
    color: var(--wp-semantic-label-neutral);
    font-size: inherit;
    font-style: normal;
    font-weight: inherit;
    line-height: inherit;

    @include add-body-text-12-m;

    @include breakpoint-768 {
      height: 20px;

      @include add-body-text-14-m;
    }

    svg {
      width: 12px;
      height: 12px;

      // transform: rotate(-90deg);
      transition: transform 0.25s;

      path {
        fill: var(--wp-semantic-label-neutral);
      }

      @include breakpoint-768 {
        width: 16px;
        height: 16px;
      }
    }
  }
}
