.tooltip {
  pointer-events: none;

  .tooltip-shadow {
    position: absolute;
    z-index: 9;
    width: 100%;
    border-radius: var(--tooltip-border-radius, $rd-12);
    box-shadow: var(--tooltip-box-shadow, none);
  }

  .tooltip-arrow {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    pointer-events: none;

    span {
      display: block;
    }
  }

  .tooltip-arrow-icon {
    display: block;
    width: 10px;
    height: 10px;
    backdrop-filter: blur(10px);
    fill: var(--tooltip-color, var(--semantic-label-neutral));
    transform: rotate(0deg) translateY(19%);
  }

  .tooltip-text {
    position: absolute;
    z-index: 9999;

    @include caption-01-r;

    .speech-bubble {
      padding: $sp-20;
      border: 0;
      border-radius: var(--tooltip-border-radius, $rd-12);
      backdrop-filter: blur(10px);
      background-color: var(--tooltip-color, var(--semantic-label-neutral));
      color: var(--tooltip-text-color, var(--semantic-label-inverse-normal));
      font-feature-settings: "ss10" on;
      word-break: break-word;

      @include caption-01-r;
      @include word-break;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &:not(.open) {
    .tooltip-arrow,
    .tooltip-text {
      top: 0 !important;
      left: 0 !important;
    }
  }

  &.open {
    pointer-events: auto;

    .tooltip-arrow,
    .tooltip-text {
      animation: tooltip-pop-fade 0.15s;
    }
  }

  &.top {
    .tooltip-arrow {
      span {
        > svg {
          transform: rotate(180deg) translateY(19%);
        }
      }
    }

    .tooltip-arrow,
    .tooltip-text {
      transform-origin: bottom;
    }
  }

  &.bottom {
    .tooltip-arrow,
    .tooltip-text {
      transform-origin: top;
    }
  }

  &.left {
    .tooltip-arrow {
      span {
        > svg {
          transform: rotate(90deg) translateY(19%);
        }
      }
    }

    .tooltip-arrow,
    .tooltip-text {
      transform-origin: right;
    }
  }

  &.right {
    .tooltip-arrow {
      span {
        >svg {
          transform: rotate(270deg) translateY(19%);
        }
      }
    }

    .tooltip-arrow,
    .tooltip-text {
      transform-origin: left;
    }
  }

  @keyframes tooltip-pop-fade {
    0% {
      opacity: 0;
      transform: scale(0.97);
    }

    60% {
      opacity: 1;
      transform: scale(1.03);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Transaction (scan) 테이블 내부 툴팁(tx Hash) */
  &[class*="tooltip-all-hash"] {
    li {
      width: max-content;

      & + li {
        margin-top: 8px;
      }
    }
  }

  &[class*="tooltip-address"] {
    .tooltip-text .speech-bubble {
      width: max-content;
      max-width: unset;
      font-size: 12px !important;

      // @include compact-xs-regular;
    }
  }
}
